<a href="https://colab.research.google.com/github/4M5/My_Learnings/blob/main/Base_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOPING

In [ ]:
for i in range(1,10):
  print("Ayyo world")

Ayyo world
Ayyo world
Ayyo world
Ayyo world
Ayyo world
Ayyo world
Ayyo world
Ayyo world
Ayyo world

In [ ]:
#range(a,b,c) a=start, b=ending-1, c=(step)iteration pole
a=int(input("Enter starting value: "))
b=int(input("Enter last no: "))
if(a>b):
  print("NOT POSSIBLE")
else:
  for i in range(a,b+1,2):
    print(i)

Enter starting value: 2
Enter last no: 16
2
4
6
8
10
12
14
16

In [ ]:
big=0
for a in range(1,11):
  a=int(input("Enter no: "))

  if(a>big):
    big=a
print(big)

Enter no: 1
Enter no: 5
Enter no: 8
Enter no: 9
Enter no: 10
Enter no: 50
Enter no: 4
Enter no: 6
Enter no: 3
Enter no: 2
50

In [ ]:
big=0
second=0
for i in range(1,10):
  a=int(input("Enter no: "))
  if(a>big):
    second=big
    big=a
  else:
    big=big

print("\n\tBiggest=",big,"\n")
print("\tSecond biggest=",second)

Enter no: 5
Enter no: 6
Enter no: 90
Enter no: 22
Enter no: 80
Enter no: 60
Enter no: 70
Enter no: 44
Enter no: 45

	Biggest= 90

	Second biggest= 6

In [ ]:
a=int(input("Enter no: "))
for i in range(1,a+1):
  if(i%2==0):
    print(i)

Enter no: 10
2
4
6
8
10

In [ ]:
for i in range(1,11):
  a=int(input("Enter the nos: "))
  if(a%2==0):
    print(a)

In [ ]:
sum=0
for i in range(1,11):
  a=int(input("Enter the nos: "))
  if(a%2==0):
    sum=sum+a
print("SUM=",sum)

Enter the nos: 10
Enter the nos: 15
Enter the nos: 2
Enter the nos: 6
Enter the nos: 4
Enter the nos: 3
Enter the nos: 1
Enter the nos: 9
Enter the nos: 7
Enter the nos: 5
22

In [ ]:
evensum=0
oddsum=0
for i in range(1,11):
  a=int(input("Enter the nos: "))
  if(a%2==0):
    evensum=evensum+a
  elif(a%2!=0):
    oddsum=oddsum+a
print("\n\tODDSUM= ",oddsum)
print("\tEVENSUM= ",evensum)
print("\n\tTOTAL= ",oddsum+evensum)

Enter the nos: 2
Enter the nos: 3
Enter the nos: 4
Enter the nos: 10
Enter the nos: 26
Enter the nos: 9
Enter the nos: 7
Enter the nos: 3
Enter the nos: 1
Enter the nos: 13

	ODDSUM=  36
	EVENSUM=  42

	TOTAL=  78

In [ ]:
i=1
while(i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=3
while(a==5):
  print("TKM")

In [ ]:
n=int(input("Enter the no: "))
small=n
i=1
while(i<10):
  a=int(input("Enter no: "))
  if(a<small):
    small=a
  i+=1
print("SMALLEST= ",small)

Enter the no: 5
Enter no: 8
Enter no: 9
Enter no: 10
Enter no: 22
Enter no: 40
Enter no: 1
Enter no: 3
Enter no: 6
Enter no: 8
SMALLEST=  1

In [ ]:
i=1
while(i<=5):
  a=int(input("Enter no: "))
  if(i==1):
    small=a
  elif(small>a):
    small=a

  i+=1
print("SMALLEST= ",small)

Enter no: 5
Enter no: 4
Enter no: 1
Enter no: 10
Enter no: 9
SMALLEST=  1